/.vs
/bin
/obj
AzureRedis/bin/Debug/net8.0/AzureRedis.deps.json
AzureRedis/bin/Debug/net8.0/AzureRedis.dll
AzureRedis/bin/Debug/net8.0/AzureRedis.exe
AzureRedis/bin/Debug/net8.0/AzureRedis.pdb
AzureRedis/bin/Debug/net8.0/AzureRedis.runtimeconfig.json
AzureRedis/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
AzureRedis/bin/Debug/net8.0/Pipelines.Sockets.Unofficial.dll
AzureRedis/bin/Debug/net8.0/StackExchange.Redis.dll
AzureRedis/bin/Debug/net8.0/System.IO.Pipelines.dll
AzureRedis/obj/AzureRedis.csproj.nuget.dgspec.json
AzureRedis/obj/AzureRedis.csproj.nuget.g.props
AzureRedis/obj/AzureRedis.csproj.nuget.g.targets
AzureRedis/obj/project.assets.json
AzureRedis/obj/project.nuget.cache
AzureRedis/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AzureRedis/obj/Debug/net8.0/apphost.exe
AzureRedis/obj/Debug/net8.0/AzureRedis.AssemblyInfo.cs
AzureRedis/obj/Debug/net8.0/AzureRedis.AssemblyInfoInputs.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.assets.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.AssemblyReference.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.CoreCompileInputs.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.FileListAbsolute.txt
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.Up2Date
AzureRedis/obj/Debug/net8.0/AzureRedis.dll
AzureRedis/obj/Debug/net8.0/AzureRedis.GeneratedMSBuildEditorConfig.editorconfig
AzureRedis/obj/Debug/net8.0/AzureRedis.genruntimeconfig.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.GlobalUsings.g.cs
AzureRedis/obj/Debug/net8.0/AzureRedis.pdb
AzureRedis/obj/Debug/net8.0/AzureRedis.sourcelink.json
AzureRedis/obj/Debug/net8.0/ref/AzureRedis.dll
AzureRedis/obj/Debug/net8.0/refint/AzureRedis.dll
MsalLearn/bin/Debug/net8.0/MsalLearn.deps.json
MsalLearn/bin/Debug/net8.0/MsalLearn.dll
MsalLearn/bin/Debug/net8.0/MsalLearn.exe
MsalLearn/bin/Debug/net8.0/MsalLearn.pdb
MsalLearn/bin/Debug/net8.0/MsalLearn.runtimeconfig.json
MsalLearn/obj/MsalLearn.csproj.nuget.dgspec.json
MsalLearn/obj/MsalLearn.csproj.nuget.g.props
MsalLearn/obj/MsalLearn.csproj.nuget.g.targets
MsalLearn/obj/project.assets.json
MsalLearn/obj/project.nuget.cache
MsalLearn/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MsalLearn/obj/Debug/net8.0/apphost.exe
MsalLearn/obj/Debug/net8.0/MsalLearn.AssemblyInfo.cs
MsalLearn/obj/Debug/net8.0/MsalLearn.AssemblyInfoInputs.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.assets.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.AssemblyReference.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.BuildWithSkipAnalyzers
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.CopyComplete
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.CoreCompileInputs.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.FileListAbsolute.txt
MsalLearn/obj/Debug/net8.0/MsalLearn.dll
MsalLearn/obj/Debug/net8.0/MsalLearn.GeneratedMSBuildEditorConfig.editorconfig
MsalLearn/obj/Debug/net8.0/MsalLearn.genruntimeconfig.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.GlobalUsings.g.cs
MsalLearn/obj/Debug/net8.0/MsalLearn.pdb
MsalLearn/obj/Debug/net8.0/MsalLearn.sourcelink.json
MsalLearn/obj/Debug/net8.0/ref/MsalLearn.dll
MsalLearn/obj/Debug/net8.0/refint/MsalLearn.dll
MsalLearn/bin/Debug/net8.0/Microsoft.Identity.Client.dll
MsalLearn/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
AzureCosmosDB/bin/Debug/net8.0/Azure.Core.dll
AzureCosmosDB/bin/Debug/net8.0/Azure.Identity.dll
AzureCosmosDB/bin/Debug/net8.0/Azure.Security.KeyVault.Secrets.dll
AzureCosmosDB/bin/Debug/net8.0/AzureCosmosDB.deps.json
AzureCosmosDB/bin/Debug/net8.0/AzureCosmosDB.dll
AzureCosmosDB/bin/Debug/net8.0/AzureCosmosDB.dll.config
AzureCosmosDB/bin/Debug/net8.0/AzureCosmosDB.exe
AzureCosmosDB/bin/Debug/net8.0/AzureCosmosDB.pdb
AzureCosmosDB/bin/Debug/net8.0/AzureCosmosDB.runtimeconfig.json
AzureCosmosDB/bin/Debug/net8.0/Cosmos.CRTCompat.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Azure.Cosmos.Client.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Azure.Cosmos.Core.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Azure.Cosmos.Direct.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Azure.Cosmos.Serialization.HybridRow.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Azure.Cosmos.ServiceInterop.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Bcl.HashCode.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Identity.Client.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
AzureCosmosDB/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
AzureCosmosDB/bin/Debug/net8.0/msvcp140.dll
AzureCosmosDB/bin/Debug/net8.0/Newtonsoft.Json.dll
AzureCosmosDB/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
AzureCosmosDB/bin/Debug/net8.0/System.Drawing.Common.dll
AzureCosmosDB/bin/Debug/net8.0/System.Memory.Data.dll
AzureCosmosDB/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
AzureCosmosDB/bin/Debug/net8.0/System.Security.Permissions.dll
AzureCosmosDB/bin/Debug/net8.0/System.Windows.Extensions.dll
AzureCosmosDB/bin/Debug/net8.0/vcruntime140.dll
AzureCosmosDB/bin/Debug/net8.0/vcruntime140_1.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win-x64/native/Cosmos.CRTCompat.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140.dll
AzureCosmosDB/bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140_1.dll
AzureCosmosDB/obj/AzureCosmosDB.csproj.nuget.dgspec.json
AzureCosmosDB/obj/AzureCosmosDB.csproj.nuget.g.props
AzureCosmosDB/obj/AzureCosmosDB.csproj.nuget.g.targets
AzureCosmosDB/obj/project.assets.json
AzureCosmosDB/obj/project.nuget.cache
AzureCosmosDB/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AzureCosmosDB/obj/Debug/net8.0/apphost.exe
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.AssemblyInfo.cs
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.AssemblyInfoInputs.cache
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.assets.cache
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.csproj.AssemblyReference.cache
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.csproj.BuildWithSkipAnalyzers
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.csproj.CopyComplete
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.csproj.CoreCompileInputs.cache
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.csproj.FileListAbsolute.txt
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.dll
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.GeneratedMSBuildEditorConfig.editorconfig
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.genruntimeconfig.cache
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.GlobalUsings.g.cs
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.pdb
AzureCosmosDB/obj/Debug/net8.0/AzureCosmosDB.sourcelink.json
AzureCosmosDB/obj/Debug/net8.0/ref/AzureCosmosDB.dll
AzureCosmosDB/obj/Debug/net8.0/refint/AzureCosmosDB.dll
