/.vs
/bin
/obj
AzureRedis/bin/Debug/net8.0/AzureRedis.deps.json
AzureRedis/bin/Debug/net8.0/AzureRedis.dll
AzureRedis/bin/Debug/net8.0/AzureRedis.exe
AzureRedis/bin/Debug/net8.0/AzureRedis.pdb
AzureRedis/bin/Debug/net8.0/AzureRedis.runtimeconfig.json
AzureRedis/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
AzureRedis/bin/Debug/net8.0/Pipelines.Sockets.Unofficial.dll
AzureRedis/bin/Debug/net8.0/StackExchange.Redis.dll
AzureRedis/bin/Debug/net8.0/System.IO.Pipelines.dll
AzureRedis/obj/AzureRedis.csproj.nuget.dgspec.json
AzureRedis/obj/AzureRedis.csproj.nuget.g.props
AzureRedis/obj/AzureRedis.csproj.nuget.g.targets
AzureRedis/obj/project.assets.json
AzureRedis/obj/project.nuget.cache
AzureRedis/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AzureRedis/obj/Debug/net8.0/apphost.exe
AzureRedis/obj/Debug/net8.0/AzureRedis.AssemblyInfo.cs
AzureRedis/obj/Debug/net8.0/AzureRedis.AssemblyInfoInputs.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.assets.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.AssemblyReference.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.CoreCompileInputs.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.FileListAbsolute.txt
AzureRedis/obj/Debug/net8.0/AzureRedis.csproj.Up2Date
AzureRedis/obj/Debug/net8.0/AzureRedis.dll
AzureRedis/obj/Debug/net8.0/AzureRedis.GeneratedMSBuildEditorConfig.editorconfig
AzureRedis/obj/Debug/net8.0/AzureRedis.genruntimeconfig.cache
AzureRedis/obj/Debug/net8.0/AzureRedis.GlobalUsings.g.cs
AzureRedis/obj/Debug/net8.0/AzureRedis.pdb
AzureRedis/obj/Debug/net8.0/AzureRedis.sourcelink.json
AzureRedis/obj/Debug/net8.0/ref/AzureRedis.dll
AzureRedis/obj/Debug/net8.0/refint/AzureRedis.dll
MsalLearn/bin/Debug/net8.0/MsalLearn.deps.json
MsalLearn/bin/Debug/net8.0/MsalLearn.dll
MsalLearn/bin/Debug/net8.0/MsalLearn.exe
MsalLearn/bin/Debug/net8.0/MsalLearn.pdb
MsalLearn/bin/Debug/net8.0/MsalLearn.runtimeconfig.json
MsalLearn/obj/MsalLearn.csproj.nuget.dgspec.json
MsalLearn/obj/MsalLearn.csproj.nuget.g.props
MsalLearn/obj/MsalLearn.csproj.nuget.g.targets
MsalLearn/obj/project.assets.json
MsalLearn/obj/project.nuget.cache
MsalLearn/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MsalLearn/obj/Debug/net8.0/apphost.exe
MsalLearn/obj/Debug/net8.0/MsalLearn.AssemblyInfo.cs
MsalLearn/obj/Debug/net8.0/MsalLearn.AssemblyInfoInputs.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.assets.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.AssemblyReference.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.BuildWithSkipAnalyzers
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.CopyComplete
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.CoreCompileInputs.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.csproj.FileListAbsolute.txt
MsalLearn/obj/Debug/net8.0/MsalLearn.dll
MsalLearn/obj/Debug/net8.0/MsalLearn.GeneratedMSBuildEditorConfig.editorconfig
MsalLearn/obj/Debug/net8.0/MsalLearn.genruntimeconfig.cache
MsalLearn/obj/Debug/net8.0/MsalLearn.GlobalUsings.g.cs
MsalLearn/obj/Debug/net8.0/MsalLearn.pdb
MsalLearn/obj/Debug/net8.0/MsalLearn.sourcelink.json
MsalLearn/obj/Debug/net8.0/ref/MsalLearn.dll
MsalLearn/obj/Debug/net8.0/refint/MsalLearn.dll
MsalLearn/bin/Debug/net8.0/Microsoft.Identity.Client.dll
MsalLearn/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
